body{
margin:0;
background:black;
color:white;
text-align:center;
font-family:Arial;
}

#board{
width:800px;
height:800px;
margin:20px auto;
background:url("board.jpg");
background-size:cover;
position:relative;
border:5px solid orange;
}

.token{
width:24px;
height:24px;
border-radius:50%;
position:absolute;
transition:all .4s ease;
}

#popup{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:red;
padding:20px;
font-size:22px;
border-radius:10px;
}

.hidden{ display:none; }
