body {
  font-size: 20px;
  background: radial-gradient(circle, #111, #000);
  color: white;
  text-align: center;
}

button {
  font-size: 22px;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(45deg, #ff8c00, #ff2e00);
  color: white;
}

input {
  font-size: 18px;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
}

#board{
  width:420px;
  height:420px;
  margin:20px auto;
  background:url("https://i.postimg.cc/WzsPQybJ/board.jpg");
  background-size:cover;
  position:relative;
  box-shadow:0 0 20px cyan;
}

.player{
  position:absolute;
  font-size:22px;
  transition:.3s;
}

.tokens{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-top:10px;
}

.token{
  font-size:30px;
  cursor:pointer;
}

.selected{
  outline:3px solid cyan;
  box-shadow:0 0 15px cyan;
}

#diceBtn{
  padding:10px 20px;
  margin-top:10px;
}

.plus{
  color:#00ff88;
}

.minus{
  color:#ff3b3b;
}
