body {
  margin:0;
  background:#111;
  color:white;
  text-align:center;
  font-family:Arial;
}

#board {
  width:95vw;
  max-width:600px;
  aspect-ratio:1/1;
  margin:20px auto;
  position:relative;
}

.board-img {
  width:100%;
  height:100%;
  position:absolute;
}

.token {
  width:24px;
  height:24px;
  border-radius:50%;
  position:absolute;
  transform:translate(-50%,-50%);
  border:2px solid white;
  transition:0.4s;
  z-index:5;
}

.choice {
  width:30px;
  height:30px;
  border-radius:50%;
  display:inline-block;
  margin:5px;
  border:3px solid white;
}

#dice {
  font-size:60px;
  margin:20px;
  cursor:pointer;
}

#popup {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:red;
  padding:20px;
  border-radius:10px;
  display:none;
}
