body{
  margin:0;
  background:#111;
  color:white;
  text-align:center;
  font-family:Arial;
}

#board {
  position: relative;
  width: 600px;
  height: 600px;
  background: url("board.jpg") no-repeat center;
  background-size: contain;
  margin: auto;
}

.board-img{
  width:100%;
  height:100%;
  position:absolute;
}

#board {
  position: relative;
  width: 600px;
  height: 600px;
  background: url("board.jpg") no-repeat center;
  background-size: contain;
  margin: auto;
}

.choice{
  width:30px;
  height:30px;
  border-radius:50%;
  display:inline-block;
  margin:5px;
  border:3px solid white;
}

#dice{
  font-size:60px;
  cursor:pointer;
  margin:20px;
}

#popup{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:red;
  padding:20px;
  border-radius:10px;
  display:none;
}
#diceContainer{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}

#diceBox{
  font-size:40px;
  margin-bottom:10px;
}



