body{
 margin:0;
 background:black;
 color:white;
 text-align:center;
 font-family:Arial;
}

#board{
 width:1024px;
 height:1024px;
 margin:auto;
 background:url("board.jpg") no-repeat center;
 background-size:contain;
 position:relative;
}

.token{
 width:28px;
 height:28px;
 border-radius:50%;
 position:absolute;
 transition:transform 0.4s ease;
 border:2px solid white;
}

.choice{
 width:40px;
 height:40px;
 display:inline-block;
 margin:10px;
 border-radius:50%;
 cursor:pointer;
 border:3px solid transparent;
}

.choice.selected{
 border:3px solid white;
}

#diceArea{
 margin-top:20px;
 font-size:28px;
}

#winnerModal{
 display:none;
 position:fixed;
 width:100%;
 height:100%;
 top:0;
 left:0;
 background:rgba(0,0,0,0.8);
 justify-content:center;
 align-items:center;
}

.modalBox{
 background:white;
 color:black;
 padding:30px;
 border-radius:10px;
}
