body{
background:black;
color:white;
text-align:center;
font-family:Arial;
}

#game{
display:none;
}

#board{
position:relative;
width:800px;
margin:auto;
}

#board img{
width:100%;
}

.token{
width:22px;
height:22px;
border-radius:50%;
position:absolute;
border:2px solid white;
}

#dice{
font-size:80px;
margin:20px;
transition:0.3s;
}

.roll{
animation:roll 0.5s;
}

@keyframes roll{
0%{transform:rotate(0);}
50%{transform:rotate(180deg) scale(1.3);}
100%{transform:rotate(360deg);}
}
