body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
  text-align:center;
}

#boardWrapper{
  display:flex;
  justify-content:center;
}

#board{
  position:relative;
  width:700px;
  height:600px;
  background:url("board.jpg") no-repeat center;
  background-size:contain;
}

.token{
  width:28px;
  height:28px;
  border-radius:50%;
  position:absolute;
  transition:transform 0.4s ease;
  border:3px solid white;
}

.choice{
  width:40px;
  height:40px;
  display:inline-block;
  margin:10px;
  border-radius:50%;
  cursor:pointer;
  border:3px solid transparent;
}

.choice.selected{
  border:3px solid white;
}

#diceArea{
  margin-top:20px;
}

#dice{
  font-size:50px;
  margin-bottom:10px;
}
