body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
  text-align:center;
}

#board{
  width:1024px;
  height:1024px;
  margin:auto;
  background:url("board.jpg") no-repeat center;
  background-size:contain;
  position:relative;
}

#tokenLayer{
  position:absolute;
  width:100%;
  height:100%;
}

.token{
  width:30px;
  height:30px;
  border-radius:50%;
  position:absolute;
  border:3px solid white;
  transition:transform 0.4s ease;
}

.choice{
  width:40px;
  height:40px;
  display:inline-block;
  margin:10px;
  border-radius:50%;
  cursor:pointer;
  border:3px solid transparent;
}

.choice.selected{
  border:3px solid white;
}

#diceArea{
  margin:20px auto 40px auto;
}

#diceImg{
  width:70px;
  display:block;
  margin:auto;
}
