body{
background:black;
color:white;
text-align:center;
font-family:Arial;
}

.board{
position:relative;
width:800px;
margin:auto;
}

.board img{
width:100%;
}

.token{
width:24px;
height:24px;
border-radius:50%;
position:absolute;
}

.red{background:red;}
.green{background:green;}
.yellow{background:yellow;}
.blue{background:blue;}
.pink{background:pink;}
.orange{background:orange;}
