body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

#boardContainer{
position:relative;
width:600px;
margin:auto;
}

#board{
width:600px;
}

.token{

width:20px;
height:20px;

border-radius:50%;

position:absolute;

border:2px solid white;

}

#ui{
margin-top:20px;
}

#dice3d{

width:80px;
height:80px;

margin:auto;

perspective:800px;

}

.cube{

width:80px;
height:80px;

position:relative;

transform-style:preserve-3d;

transform:rotateX(0) rotateY(0);

transition:transform 1s;

}

.face{

position:absolute;

width:80px;
height:80px;

background:white;

color:black;

font-size:30px;

display:flex;

align-items:center;
justify-content:center;

border:2px solid black;

}

.front{ transform:translateZ(40px); }
.back{ transform:rotateY(180deg) translateZ(40px); }

.right{ transform:rotateY(90deg) translateZ(40px); }
.left{ transform:rotateY(-90deg) translateZ(40px); }

.top{ transform:rotateX(90deg) translateZ(40px); }
.bottom{ transform:rotateX(-90deg) translateZ(40px); }

#cardPopup{

position:fixed;

top:50%;
left:50%;

transform:translate(-50%,-50%);

background:#222;

padding:20px;

border:2px solid white;

font-size:24px;

}
